/*!
 * Start Bootstrap - Creative v3.3.7+1 (http://startbootstrap.com/template-overviews/creative)
 * Copyright 2013-2016 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap/blob/gh-pages/LICENSE)
 */
@font-face {

	src: url('../vendor/font-awesome/fonts/fontawesome-webfont.eot?#iefix&v=3.0.1') format('embedded-opentype'),
	url('../vendor/font-awesome/fonts/fontawesome-webfont.woff?v=3.0.1') format('woff'),
	url('../vendor/font-awesome/fonts/fontawesome-webfont.ttf?v=3.0.1') format('truetype');

}
html,
body {
	height: 100%;
	width: 100%;
	/*background-color: #643695;*/
	font-family: Arial, sans-serif;
}
body {
	font-family: Arial, sans-serif;
}
hr {
	border-color: #F05F40;
	border-width: 3px;
	max-width: 50px;
}
hr.light {
	border-color: white;
}
a {
	-webkit-transition: all 0.35s;
	-moz-transition: all 0.35s;
	transition: all 0.35s;
	color: #643695;
}
a:hover,
a:focus {
	color: #eb3812;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: Arial, sans-serif;
}
p {
	font-size: 16px;
	line-height: 1.5;
	margin-bottom: 20px;
}

.parallax-window {
	min-height: 400px;
	background: transparent;
}
.bg-primary {
//background: url(../img/arrows.png);
	height: 448px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
}
.bg-dark {
	background-color: #222222;
	color: white;
}
.text-faded {
	color: rgba(255, 255, 255, 0.7);
}
aside {
	padding: 50px 0;
}
.no-padding {
	padding: 0;
}
.navbar-default {
	background-color: white;
	border-color: rgba(34, 34, 34, 0.05);
	font-family: Arial, sans-serif;
	-webkit-transition: all 0.35s;
	-moz-transition: all 0.35s;
	transition: all 0.35s;
}
.navbar-default .navbar-header .navbar-brand {
	color: #F05F40;
	font-family: Arial, sans-serif;
	font-weight: 700;
	text-transform: uppercase;
}
.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
	color: #eb3812;
}
.navbar-default .navbar-header .navbar-toggle {
	font-weight: 700;
	font-size: 12px;
	color: #222222;
	text-transform: uppercase;
}
.navbar-default .nav > li > a,
.navbar-default .nav > li > a:focus {
	text-transform: uppercase;
	font-weight: 700;
	font-size: 13px;
	color: #222222;
}
.navbar-default .nav > li > a:hover,
.navbar-default .nav > li > a:focus:hover {
	color: #F05F40;
}
.navbar-default .nav > li.active > a,
.navbar-default .nav > li.active > a:focus {
	color: #F05F40 !important;
	background-color: transparent;
}
.navbar-default .nav > li.active > a:hover,
.navbar-default .nav > li.active > a:focus:hover {
	background-color: transparent;
}
/*  Custom style */
.navbar-brand > img{
	height: 240%;
	width: auto;
}
.navbar-main{
	min-height: 80px;
}
.logo{
	margin-right:100px;
}
.navbar-main .nav >li >a {
	padding-top: 30px;
	padding-bottom: 30px;
}
.header-content-inner{
	text-align: left;
}
.arrow-inner-btn{
	font-size:32px;
	color: #643695;
}
.description{
	text-transform: uppercase;
	margin:0;
	color: #fff;
	padding-top: auto;
	padding-bottom: auto;
	margin-bottom: 0px !important;
}
.inner-btn{
	display: inline-flex;
	width: 100%;
	height: 52px;
	flex-direction: row;
	align-items:center;
	margin-top: 30px;
}

.partners_box{
// background: #f36f21;
	background: #fff;
	padding: 40px 0;
}

.paralax {
	min-height: 448px;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	background-size: 150%;
}

.paralax_white {
	background: url(../img/arrows.png) center 0 repeat-y;
	background-size: 2600px 770px
}

.paralax_color {
	background: url(../img/arrows_orange.png) center 0 repeat-y;
	background-size: 2600px 770px
}

.part1 {
	background-position: 0px 0px;
	width: 208px;
	height: 150px;
}
.part2 {
	background-position: -207px 0px;
	width: 129px;
	height: 150px;
}

.part3{
	background-position: -335px 0px;
	width: 99px;
	height: 150px;
}
.part4{
	background-position: -433px 0px;
	width: 126px;
	height: 150px;
}
.part5{
	background-position: -559px -50px;
	width: 312px;
	height: 100px;
}
.part6{
	background-position: -746px -27px;

}
.part7{
	background-position: -899px 0;
}
.part8{
	background-position: -1050px 0;
}
.section-heading{
	margin-bottom: 10px;
	color: #643695;
	font-weight:bold;
}
<!--.bg-primary-orange{
	//background: url(../img/arrows_orange.png);
		height: 448px;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		background-size: cover;
		-o-background-size: cover;
	}-->
.clients{
	background: #fff;
}
.client-heading{
	color: #58595b;
}
.city{
	position: relative;
	width: 100%;
	min-height: auto;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	background-position: center;
	background-image: url('../img/background_city.png');
	text-align: center;
	color: white;
	min-height: 100%;
	padding:10% 0;
}
.city-content{
	top: 48%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	margin: 0 auto;
}
.city-content-inner{
	max-width: 660px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}
.d-city{
	font-family: Arial,sans-serif;
	font-size: 18px;
	max-width: 80%;
	margin-left: auto;
	margin-right: auto;
	font-weight: 300;
	color: rgba(255, 255, 255, 0.9);
	text-transform: uppercase;
	margin: 0;
	padding: 0 5px;
}
.city_h1{
	text-transform: uppercase;
	font-size: 50px;
	font-weight: 700;
	margin-top: 100px;
	margin-bottom: 0;
	font-family: Arial, sans-serif;
}
ul.advantage > li{
	margin-top: 0;
//font-weight: 700;
	margin-bottom: 0;
	font-size: 20px;
	font-family: Arial, sans-serif;

}
h2.comand{
	margin-top: -10px;
	margin-bottom: 20px;
	font-family: Arial, sans-serif;
}
ul.comand > li{
	margin-top: 0;
	font-weight: 700;
	margin-bottom: 0;
	font-size: 20px;
	font-family: Arial, sans-serif;

}
.city_btn{
	background-color: #643695 !important;
}
.city_span{
	color: #fff;
}
.contact_form{
	background-color: #fff;
	padding: 20px 0px;
}

.red{
	color:red;
}
.form-area
{
	background-color: #fff;
	padding: 10px 40px 60px;
}
.form-area{
	padding: 10px 60px 0 0;
}
.uppercase{
	text-transform: uppercase;
}
.contacts_header{
	text-align: center;
	font-size: 42px;
	color: #58595b;
}
.textarea_size{
	width:100%;
}
.send-btn{
	background-color: #e10202 !important;
	border-radius: 3px !important;
	width: 160px !important;
}
@media (min-width:1200px){
	.container {
		width: 910px;
	}
}
@media(max-width: 994px){
	.logo{
		margin-right: 0px;
	}
}
@media (max-width:768px){
	.logo{
		display: none;
	}
	.navbar{
		min-height: 50px;
	}

}

@media(max-width: 361px){
	.copyright{
		font-size:12px;
	}
	.city{
		padding: 37% 0;
	}
	.city_h1{
		font-size:30px;
	}
	.header .header-content .header-content-inner {
		margin-left:10px;
		margin-right:0px;
	}
}
@media(max-width: 361px){
	.section-heading, .client-heading, .form--header {
		font-size:32px;
	}
	.social-icon, .carousel {
		display: none;
	}
	.city-content-inner {
		text-align: center;
	}
	.section-heading {
		padding-top: 30px;
	}
}
.social-icon {
	list-style: none;
	padding: 0;
	margin: 0;
}

.social-icon li{
	display: inline-block;
	text-align: center;
}

.social-icon a {
	color: #fff !important;
	background: none !important;
}

.social-icon a {
	background: rgba(255, 255, 255, 0.85); /* social icon background color */
	color: #000; /* social icon color */
}

.social-icon a:hover {
	background: rgba(255, 255, 255, 0.25); /* social icon hover background color */
	color: #fff; /* social icon hover color */
}

.footer {
	bottom: 0;
	padding-top: 5px;
	width: 100%;
	height: 60px;
	background-color: #000;
}

.social-icon.animate.pull-right > li{
	font-size: 26px;
	padding: 0 4px;
	color: #fff;
}
.copyright{
	padding: 8px 0;
	color: #fff;
	margin: 0px;
}
section #about{
	padding: 30px 15px 10px 15px;
	text-align: justify;
}
.slides > li {
	color: #fff;
}
.description{
	margin-top:0px !important;
}
.buy{
	width:10%;
}
/*slider*/

*,:before,:after { box-sizing: border-box; }

html, body { height: 100%; }


li {
	height: 100%;
}
}
}


.slide-ul-list{
	list-style-type: none;
}

/*.slider*/
/* /Custom style */

@media (min-width: 768px) {
	.navbar-default {
		background-color: #000;
		border-color: rgba(255, 255, 255, 0.3);
	}
	.navbar-default .navbar-header .navbar-brand {
		color: rgba(255, 255, 255, 0.7);
	}
	.navbar-default .navbar-header .navbar-brand:hover,
	.navbar-default .navbar-header .navbar-brand:focus {
		color: white;
	}
	.navbar-default .nav > li > a,
	.navbar-default .nav > li > a:focus {
		color: rgba(255, 255, 255, 0.7);
	}
	.navbar-default .nav > li > a:hover,
	.navbar-default .nav > li > a:focus:hover {
		color: white;
	}
	.navbar-default.affix {
		background-color: white;
		border-color: rgba(34, 34, 34, 0.05);
	}
	.navbar-default.affix .navbar-header .navbar-brand {
		color: #F05F40;
		font-size: 14px;
	}
	.navbar-default.affix .navbar-header .navbar-brand:hover,
	.navbar-default.affix .navbar-header .navbar-brand:focus {
		color: #eb3812;
	}
	.navbar-default.affix .nav > li > a,
	.navbar-default.affix .nav > li > a:focus {
		color: #222222;
	}
	.navbar-default.affix .nav > li > a:hover,
	.navbar-default.affix .nav > li > a:focus:hover {
		color: #F05F40;
	}
}
header {
	position: relative;
	width: 100%;
	min-height: auto;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
	-o-background-size: cover;
	text-align: center;
	color: white;
}
header .header-content {
	position: relative;
	text-align: center;
	padding: 100px 15px 100px;
	width: 100%;
}
header .header-content .header-content-inner h1 {
	font-weight: 700;
	text-transform: uppercase;
	margin-top: 0;
	margin-bottom: 0;
	font-size: 30px;
}
header .header-content .header-content-inner hr {
	margin: 30px auto;
}
header .header-content .header-content-inner p {
	font-weight: 300;
	color: rgba(255, 255, 255, 0.7);
	font-size: 16px;
	margin-bottom: 50px;
}
@media (min-width: 768px) {
	header {
		min-height: 100%;
	}
	header .header-content {
		position: absolute;
		top: 48%;
		-webkit-transform: translateY(-50%);
		-ms-transform: translateY(-50%);
		transform: translateY(-50%);
		padding: 0 50px;
	}
	header .header-content .header-content-inner {
		max-width: 660px;
		margin-left: auto;
		margin-right: auto;
	}
	header .header-content .header-content-inner h1 {
		font-size: 50px;
	}
	header .header-content .header-content-inner p {
		font-size: 18px;
		max-width: 80%;
		margin-left: 10px;
		margin-right: auto;
	}
}
.section-heading {
	margin-top: 0;
	text-transform: uppercase;
}
.service-box {
	max-width: 400px;
	margin: 50px auto 0;
}
@media (min-width: 992px) {
	.service-box {
		margin: 20px auto 0;
	}
}
.service-box p {
	margin-bottom: 0;
}
.portfolio-box {
	position: relative;
	display: block;
	max-width: 650px;
	margin: 0 auto;
}
.portfolio-box .portfolio-box-caption {
	color: white;
	opacity: 0;
	display: block;
	background: rgba(240, 95, 64, 0.9);
	position: absolute;
	bottom: 0;
	text-align: center;
	width: 100%;
	height: 100%;
	-webkit-transition: all 0.35s;
	-moz-transition: all 0.35s;
	transition: all 0.35s;
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content {
	width: 100%;
	text-align: center;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category,
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
	font-family: Arial, sans-serif;
	padding: 0 15px;
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
	text-transform: uppercase;
	font-weight: 600;
	font-size: 14px;
}
.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
	font-size: 18px;
}
.portfolio-box:hover .portfolio-box-caption {
	opacity: 1;
}
.portfolio-box:focus {
	outline: none;
}
@media (min-width: 768px) {
	.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-category {
		font-size: 16px;
	}
	.portfolio-box .portfolio-box-caption .portfolio-box-caption-content .project-name {
		font-size: 22px;
	}
}
.call-to-action h2 {
	margin: 0 auto 20px;
}
.text-primary {
	color: #F05F40;
}
.no-gutter > [class*='col-'] {
	padding-right: 0;
	padding-left: 0;
}

.btn-default:hover,
.btn-default:focus,
.btn-default.focus,
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
	color: #222222;
	background-color: #f2f2f2;
	border-color: #ededed;
}
.btn-default:active,
.btn-default.active,
.open > .dropdown-toggle.btn-default {
	background-image: none;
}
.btn-default.disabled,
.btn-default[disabled],
fieldset[disabled] .btn-default,
.btn-default.disabled:hover,
.btn-default[disabled]:hover,
fieldset[disabled] .btn-default:hover,
.btn-default.disabled:focus,
.btn-default[disabled]:focus,
fieldset[disabled] .btn-default:focus,
.btn-default.disabled.focus,
.btn-default[disabled].focus,
fieldset[disabled] .btn-default.focus,
.btn-default.disabled:active,
.btn-default[disabled]:active,
fieldset[disabled] .btn-default:active,
.btn-default.disabled.active,
.btn-default[disabled].active,
fieldset[disabled] .btn-default.active {
	background-color: white;
	border-color: white;
}
.btn-default .badge {
	color: white;
	background-color: #222222;
}


.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
	color: white;
	background-color: #ee4b28;
	border-color: #ed431f;
}
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
	background-image: none;
}
.btn-primary.disabled,
.btn-primary[disabled],
fieldset[disabled] .btn-primary,
.btn-primary.disabled:hover,
.btn-primary[disabled]:hover,
fieldset[disabled] .btn-primary:hover,
.btn-primary.disabled:focus,
.btn-primary[disabled]:focus,
fieldset[disabled] .btn-primary:focus,
.btn-primary.disabled.focus,
.btn-primary[disabled].focus,
fieldset[disabled] .btn-primary.focus,
.btn-primary.disabled:active,
.btn-primary[disabled]:active,
fieldset[disabled] .btn-primary:active,
.btn-primary.disabled.active,
.btn-primary[disabled].active,
fieldset[disabled] .btn-primary.active {
	background-color: #F05F40;
	border-color: #F05F40;
}
img.arrow-btn{
	margin-left: 50px;
}
.btn-primary .badge {
	color: #F05F40;
	background-color: white;
}
.btn-xl {
	padding: 15px 30px;
}
::-moz-selection {
	color: white;
	text-shadow: none;
	background: #222222;
}
::selection {
	color: white;
	text-shadow: none;
	background: #222222;
}
img::selection {
	color: white;
	background: transparent;
}
img::-moz-selection {
	color: white;
	background: transparent;
}
body {
	webkit-tap-highlight-color: #222222;
}
.form-area-fixed{
	margin-top: -20px;
}

h1,h2,h3{
	font-size: 50px
}
.img-arrow-button-footer{
	width: 48px;
	height: 48px;
}
.slider-text-block {
	position: absolute;
	z-index: 9;
	width: 100%;
	text-align: center;
	top: 200px;
	left: 0;
	color: white;

//border-bottom: 1px solid white;
	padding-bottom: 10px;
	display: inline-block;
}
}
.slider-text-block > h2{

	text-transform: uppercase;
	font-size: 50px;
	font-weight: 700;
}
.slider-text-block > p,ul{
	font-size: 20px;
	font-weight: 400;
}

.carousel-inner .item {
	max-height: 1080px;
}

.frame {
	height: 142px;      /* equals max image height */
	white-space: nowrap;
	float: left;
	min-width: 200px;
	text-align: center;

}

.helper {
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.frame img {
	vertical-align: middle;
	max-height: 142px;
	margin-right: 40px;
	margin-left: 10px;
}

.form-control {
	border: 1px solid #8c8c8c;
	border-radius: 0;
	box-shadow: none;
}

textarea#feedback-text {
	width: 540px;
	height: 250px;
}

.arrow-button-head img {
	width: 56px!important;
	height: 56px;
	margin-right: 10px;
}